.seo {
  .content {
    height: 200px;
    overflow: hidden;
    position: relative;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-left: 30px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: $green;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
  .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.01724439775910369) 100%);
  }
  .content.active {
    height: 100%;
  }
  .display-wrap {
    text-align: right;
    // display: inline-block;
  }
}
