$xx: "only screen and (max-width: 350px)";
$x: "only screen and (max-width: 400px)";
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1300px)";
$xlg: "only screen and (max-width: 1400px)";
$xxlg: "only screen and (max-width: 1500px)";
// colors
$red: #aa0e12;
$red200: #d5302b;
$green: #087777;
$green200: #08a5a5;

$black: #070b31;
$black200: #75767f;
$grey: #ebebeb;
$grey200: #f6f6f6;
